<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Demo</title>
        <script type="module" src="/assets/main.js"></script>
    </head>
    <body>
        {% renderTemplate "wander" %}
        p {
          is-consistent(definitions() assertions(instance(betty Cat) instance(betty not(Cat))))
        }
        {% endrenderTemplate %}

        {% renderTemplate "wander" %}
        assertions-table(assertions(instance(a C)))
        {% endrenderTemplate %}
    </body>
</html>
