<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Demo</title>
</head>
<body>
    <h1>Commands</h1>

    {%- for doc in demo -%}
        <h2>{{doc['?name']}}</h2>
    
        <p>{{doc['?doc']}}</p>
    {%- endfor -%}
</body>
</html>
